@import url('https://fonts.googleapis.com/css?family=Roboto:700'); /* Általános stílusok */

/* Navigációs cucc */
.navbar {
    /*
    margin-left: 27%;
    margin-right: 25%;
    */
    margin-left: 5%;
    margin-right: 5%;
}

/* Oldalsávok */
.col-md-3 {
    background-color: white;
    height: fit-content;
}

.container-stack {
    background-image: url("images/oldMonitor.png");
    width: 100%;
    height: 25%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.container-docs {
    background-color: lightcyan;
    padding-bottom: 2%;
}

.lorem {
    color: white;
}

/* Köszöntő animáció */
p {
    text-shadow: 0 0 7px rgba(255, 255, 255, .3), 0 0 3px rgba(255, 255, 255, .3);
}

.container-header {
    font-family: Roboto, serif;
    color: #e5e5e5;
    font-size: 2.26rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: #333;*/
    background-color: midnightblue;
    width: 90%;
    margin-left: auto;
    margin-right: 5%;
    height: 8vh;
}

.animation {
    height: 75%;
    overflow: hidden;
    margin-left: 0rem;
}

.animation > div > div {
    padding: 0.75rem 0.75rem;
    height: 2.81rem;
    margin-bottom: 2.81rem;
    display: inline-block;
}

.animation div:first-child {
    animation: text-animation 10s infinite;
}

@keyframes text-animation {
    0% {
        margin-top: -1%;
    }
    10% {
        margin-top: -1%;
    }
    20% {
        margin-top: -5rem;
    }
    60% {
        margin-top: -5rem;
    }
    70% {
        margin-top: -10rem;
    }
    80% {
        margin-top: -10rem;
    }
    90% {
        margin-top: -1%;
    }
    100% {
        margin-top: -1%;
    }
}

.card {
    /*
    margin-left: 10%;
    margin-right: 10%;
    */
    background-image: url("images/keyboard.jpg");
    background-color: #5a6268;
    background-position: center;
    background-size: cover;
}

.card-oktatas {
    background-image: url("images/educ.jpg");
    background-position: center;
    background-size: cover;
}

.ujszin {
    background-color: white;
    text-align: center;
}

.list-group-item {
    width: 75%;
}

.yt-container {
    /*background-color: red;*/
    margin-left: 4%;
    margin-right: 4%;
}

/* Footer */
#footer {
    color: black;
    background-color: rgb(230, 223, 207);
    font-size: 92%;
    text-align: center;
    line-height: 1.25em;
    margin: 0;
    padding: 1em 4mm;
    clear: both;
}

#footer a {
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

#footer a:hover {
    text-decoration: none;
}








.file-accordion {
    max-width: 400px;
    margin: 50px auto;
}

.file-item {
    border: 1px solid #ddd;
    margin-bottom: 5px;
    overflow: hidden;
}

.file-header {
    background-color: #f1f1f1;
    padding: 10px;
    cursor: pointer;
    user-select: none;
}

.file-icon {
    display: inline-block;
    margin-right: 10px;
}

.file-content {
    display: none;
    padding: 10px;
}

